@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  input, 
  textarea, 
  select {
    @apply text-stone-950 bg-white border-stone-300;
    color: #000000 !important;
  }

  input::placeholder, 
  textarea::placeholder {
    @apply text-stone-500;
  }

  /* Fokus border agar lebih tegas */
  input:focus, 
  textarea:focus {
    @apply ring-2 ring-teal-600 border-transparent outline-none;
  }
}